* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: #ffffff;
}

a {
    text-decoration: none;
}

.header {
    height: 100px;
    width: 1200px;
}

#logo {
    color: #FFD700;
    margin: 25px;
}

.links {
    margin: 7px;
    display: flex;
    justify-content: space-evenly;
}

.links a {
    color: #4988af;
}

.links a:hover {
    color: rgb(227, 55, 141);
    border-bottom: 2px solid #FFD700;
}

.navigation {
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    max-width: max-content;
}

.navigation a {
    margin: 5px;
}

.navigation a:hover {
    color: #4988af;
    border-bottom: 2px solid orchid;
}

.main_area {
    display: flex;
    width: auto;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid red;
    width: 90%;
}